[Unit] 
Description=Stockanalyses Downloader
After=multi-user.target

[Service]
Restart=always
Type=idle 
ExecStart=/opt/stockanalyses-downloader/bin/python /opt/stockanalyses-downloader/lib/python3.5/site-packages/downloader/main.py

[Install] 
WantedBy=multi-user.target

