[Unit] 
Description=Stockanalyses Downloader
After=multi-user.target

[Service]
Restart=always
Type=idle 
ExecStart=/opt/stockanalyses-downloader/stockanalyses-downloader/bin/python3 /opt/stockanalyses-downloader/stockanalyses-downloader/lib/python3/site-packages/downloader/main.py

[Install] 
WantedBy=multi-user.target

