Source: stockanalyses-logs
Section: misc
Priority: optional
Maintainer: Raphael Lekies <raphael.lekies@stockdashboard.de>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: stockanalyses-logs
Architecture: any
Pre-Depends: dpkg (>= 1.16.1),${misc:Pre-Depends}
Depends: ${misc:Depends}
Description: Datastore for logfiles
